<h1>HTTP</h1>
<h3>Métodos de requisição</h3>
<p>GET<br>
O Método GET é utilizado para solicitar uma representação de um recurso específico, Requisições utilizando o Método GET devem retornar apenas dados.</p>
<p>HEAD<br>
 O Método HEAD solicita uma resposta de forma idêntica ao processo que ocorre no tipo GET, porém sem um corpo "body" contendo o recurso.</p>   
<p>POST<br>
O Método POST é utilizado para submeter uma entidade a um recurso específico, às vezes causando uma mudança no estado do recurso ou solicitando alterações do lado do servidor.</p>
<p>PUT<br>
O Método PUT substitui todas as atuais representações de seu recurso alvo pela carga de dados da requisição.</p>
<p>DELETE<br>
O Método DELETE remove um recurso específico.</p>
<p>CONNECT<br>
O Método CONNECT estabelece um túnel para conexão com o servidor a partir do recurso alvo;</p>
<p>OPTIONS<br>
O Método OPTIONS é usado para descrever as opções de comunicação com o recurso alvo.</p>
<p>TRACE<br>
O Método TRACE executa uma chamada de loopback como teste durante o caminho de conexão com o recurso alvo;</p>
<p>PATCH<br>
O Método PATCH é utilizado para aplicar modificações parciais em um recurso.</p>
</p>
