<h1>Frameworks</h1>
<p>Framework é um conjunto de códigos abstratos e/ou genéricos, geralmente classes, desenvolvidos em alguma linguagem de programação, que relacionam-se entre si para disponibilizar funcionalidades específicas ao desenvolvedor de software.<br>
Framework são funcionalidades que fazem com que o programador evite criar tarefas repetitivas.
</p>

