<h1>API</h1>
<p>API é um conjunto de rotinas e padrões de programação para acesso a um aplicativo de software ou plataforma baseado na Web. A sigla API refere-se ao termo em inglês "Application Programming Interface" que significa em tradução para o português "Interface de Programação de Aplicativos".</p>
<h3>Vantagens</h3>
<p>Suporte - Uma das maiores dificuldades na emissão das notas fiscais é a falta de suporte pelas prefeituras, estados e união. Isso pode fazer com que o desenvolvedor fique horas, ou até dias, parado em sua implementação pela total falta de suporte destes órgãos.
Com uma API Comercial você conta com o suporte da empresa fornecedora da API. Por atender muitos clientes, a equipe do FocusNFE tem o conhecimento profundo de qualquer situação que você possa enfrentar na emissão das notas e com isso resolver as suas dificuldades na hora de emitir as notas fiscais.
</p>
<p>Simplicidade - O XML e o protocolo de comunicação para envio de notas fiscais é bastante complexo. Um bom programador será sempre capaz de compreender, gerar e transmitir este XML, porém poderá levar bastante tempo entendendo o formato e programando.
Algumas APIs comerciais costumam ter formatos de arquivo simplificados, como por exemplo o formato JSON. O formato a quantidade de campos a serem enviados muitas vezes é, também, reduzida. Além disso você pode fazer a comunicação apenas com o protocolo HTTP, acessível a partir de bibliotecas em praticamente qualquer linguagem de programação.
</p>
<p>Atualizações - Outra dor de cabeça comum entre os programadores são as atualizações. No caso da NFe ocorre, em média, uma atualização por ano. Cada atualização pode mudar os campos, formatos ou processos de comunicação com a receita.
Boas APIs comerciais eliminam ou amenizam muito o impacto destas atualizações, reduzindo para quase zero as alterações que o desenvolvedor da aplicação deve fazer para de adequar a estas constantes mudanças.
</p>
<p>Foco no seu negócio - Como desenvolvedor de soluções de software o analista ou programador está mais preocupado em resolver questões relativas a seu negócio. Por exemplo, o desenvolvedor de um sistema para escolas está preocupado em resolver questões relativas à dinâmica e processos de uma escola.
Contratando uma API comercial para emissão de notas fiscais o desenvolvedor pode dedicar mais tempo e energia em seu sistema, não se preocupando com as nuances da emissão de notas fiscais eletrônicas.
</p>
<p>Menos tecnologias para se preocupar - Utilizando uma API moderna provavelmente você irá precisar apenas ser capaz de realizar chamadas HTTP simples. Não utilizar uma API e se comunicar diretamente com os órgãos competentes significa ter que se preocupar com tecnologias diversas como XML, SOAP, Assinatura Digital, etc.</p>
<p>Guarda dos arquivos - Trazer todo o desenvolvimento de emissão de notas fiscais eletrônicas para dentro de seu sistema carrega um problema adicional para o desenvolvedor, a guarda dos arquivos.
Boas APIs comerciais realizam a guarda obrigatória de 5 anos sem custo adicional.
</p>
<p>Gestão das contingências - Na emissão de NFe e NFSe para alguns municípios existe a possibilidade de uso de contingência, caso o servidor principal esteja indisponível. As APIs comerciais gerenciam esta questão, direcionando as notas para a contingência automaticamente. Este é mais um ponto que o desenvolvedor que utiliza APIs comerciais não irá se preocupar.
</p>

